body {
    font-family: 'Open Sans', sans-serif;
    background: #2D4059;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0 6em;
    color: #F0F5F9;
}

input[type=submit] {
    cursor: pointer;
    font-size: 1.5em;
    background-color: #F07B3F;
    border-radius: 10px;
    height: 60px;
    max-width: 15%;
    min-width: 100px;
}

input[type=submit]:hover {
    font-weight: bold;
}

#type_label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 1em;
}

#type {
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
    width: 40%;
    height: 40px;
}

#logout {
    font-size: 1.2em;
    width: 25px;
    height: 35px;
    background-color: #C9D6DF;
}

.center {
    text-align: center;
}

#nav {
    margin-top: 1%;
    overflow: hidden;
}

#first {
    text-align: left;
    width: 35%;
    float: left;
    margin-left: 15%;
}

#second {
    text-align: right;
    width: 35%;
    overflow: hidden;
    margin-right: 15%;
}

#field {
    width: 70%;
    margin: auto;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

#space {
    padding: 4%;
}