textarea {
    margin-top: 10px;
    opacity: 0.8;
    font-size: 2em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 10em;
    border: none;
}

table {
    width: 70%;
    text-align: center;
    margin-top: 2em;
    margin: auto;
}

th {
    font-size: 1.5em;
}

td {
    height: 40px;
    width: 10%;
}

.single_note {
    font-size: 1.2em;
}

.single_note:hover {
    font-size: 1.2em;
    font-weight: bold;
}

#add {
    font-size: 1.2em;
    width: 25px;
    height: 35px;
    margin-right: 15%;

}

#logout {
    font-size: 1.2em;
    width: 25px;
    height: 35px;
    margin-right: 15%;
    background-color: #C9D6DF;
}

#space {
    margin: auto;
    width: 70%;
    background-color: white;
    opacity: 0.8;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}