<html>

<head>
  <title>Note</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
</head>

<body>
  <div class="container">
    <div class="center">
      <div id="nav">
        <div id="first">
          <form action={{ url_for('welcom') }}>
            <input id="logout" type="submit" value="Back" />
          </form>
        </div>
        <div id="second">
          <form action={{ url_for('logout') }}>
            <input id="logout" type="submit" value="Log out" />
          </form>
        </div>
      </div>
      <div class="wrapper">
        <h1>Notes</h1>
        <h2>Note: - title </h2>
      </div>
      <div class="wrapper">
        {% if error %}
        <p class="error"><strong>Error: </strong> {{ error }}</p>
        {% endif %}
      </div>

      <div id="field">
        <div id="space">
          {{ rendered |safe }}
        </div>
      </div>
      <form action={{ url_for('save') }} method="POST">
        <div style="text-align:right">
          <div id="nav">
            <div id="first">
              <div>
                <input type="checkbox" id="public" name="public" checked>
                <label for="public">Public</label>
              </div>
              <div>
                <input type="checkbox" id="encrypt" name="encrypt" checked>
                <label for="encrypt">Encrypt</label>
              </div>
            </div>
            <div id="second">
              <input id="add" type="submit" value="Save">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>