<html>

<head>
    <title>Note</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>

<body>
    <div class="container">
        <div class="center">
            <div class="wrapper">
                <h1>Upps!</h1>
                <h2>Something went wrong :(</h2>
            </div>

            {% if error %}
            <p class="error space"><strong>Info: </strong> {{ error }}</p>
            {% endif %}

            {% if return_btn %}
            <div class="wrapper space">
                <a class="first after" href="/login">Login</a>
            </div>
            {% endif %}


            {% if return_btn %}
            <div class="wrapper space">
                <a class="first after" href="/">Go home</a>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>