<html>

<head>
  <title>Notes - Sign in</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>

<body>
  <div class="container">
    <div class="center">

      <div class="wrapper">
        {% if state %}

        <div class="wrapper">
          <h1>Notes</h1>
          <h2>Determine your secret key for this note</h2>
        </div>

        <div class="wrapper">
          {% if error %}
          <p class="error"><strong>Info: </strong> {{ error }}</p>
          {% endif %}
          {% for field, errors in form.errors.items() %}
          <div>
            <p class="error"><strong>Info: </strong> {{ ', '.join(errors) }}</p>
          </div>
          {% endfor %}
        </div>
        
        <form action={{ url_for('lock') }} method="POST">

          {{ form.csrf_token }}
          <div>{{ form.key }}</div>
          <div>{{ form.submit }}</div>
        </form>

        {% else %}

        <div class="wrapper">
          <h1>Notes</h1>
          <h2>Pass the specific key for this note</h2>
        </div>

        <div class="wrapper">
          {% if error %}
          <p class="error"><strong>Info: </strong> {{ error }}</p>
          {% endif %}
          {% for field, errors in form.errors.items() %}
          <div>
            <p class="error"><strong>Info: </strong> {{ ', '.join(errors) }}</p>
          </div>
          {% endfor %}
        </div>
        
        <form action={{ url_for('unlock', rendered_id = rendered_id) }} method="POST">

          {{ form.csrf_token }}
          <div>{{ form.key }}</div>
          <div>{{ form.submit }}</div>
        </form>

        {% endif %}
      </div>

    </div>
  </div>
</body>

</html>