<html>

<head>
    <title>Notes - Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="container">
        <div class="center">

            <div class="wrapper">
                <h1>Notes</h1>
                <div class="typewriter">
                    <h2>note something new...</h2>
                </div>
            </div>

            <div class="wrapper">
                <a class="first after" href="/login">Sign in</a>
            </div>

            <div class="wrapper">
                <a class="second after" href="/register">Sign up</a>
            </div>
        </div>
    </div>
</body>

</html>