<html>

<head>
  <title>Note</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
</head>

<body>
  <div class="container">
    <div class="center">
      <div id="nav">
        <div id="first">
          <form action={{ url_for('welcom') }}>
            <input id="logout" type="submit" value="Back" />
          </form>
        </div>
        <div id="second">
          <form action={{ url_for('logout') }}>
            <input id="logout" type="submit" value="Log out" />
          </form>
        </div>
      </div>
      <div class="wrapper">
        <h1>Notes</h1>
        <h2>Note: - title </h2>
      </div>
      <div class="wrapper">
        {% if error %}
        <p class="error"><strong>Info: </strong> {{ error }}</p>
        {% endif %}
      </div>

      <div id="field">
        <div id="space">
          {{ rendered |safe }}
        </div>
      </div>
      {% if form %}
      <form action={{ url_for('save') }} method="POST">
        {{ form.csrf_token }}
        <div id="nav">
          <div id="first">
            <div>
              <label id="type_label" for="type">Type:</label>
              {{ form.type }}
            </div>
          </div>
          <div id="second">
            <input id="add" type="submit" value="Save">
          </div>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</body>

</html>