<html>

<head>
  <title>Notes - Sign in</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>

<body>
  <div class="container">
    <div class="center">


      <div class="wrapper">
        {% if state == 1 %}

        <div class="wrapper">
          <h1>Notes</h1>
          <h2>Pass your username and email</h2>
        </div>
        <form action={{ url_for('password_recovery') }} method="POST">

          {{ form.csrf_token }}
          <div>{{ form.username }}</div>
          <div>{{ form.email }}</div>
          <div>{{ form.submit }}</div>
        </form>

        {% elif state == 2 %}

        <div class="wrapper">
          <h1>Notes</h1>
          <h2>Pass the token from your email</h2>
        </div>
        <form action={{ url_for('password_new') }} method="POST">

          {{ form.csrf_token }}
          <div>{{ form.token }}</div>
          <div>{{ form.new_password }}</div>
          <div>{{ form.submit }}</div>
          <input type="hidden" id="email" name ="email" value="{{ email }}">
          <input type="hidden" id="username" name="username" value="{{ username }}">
        </form>
        <button onclick="alert('Your email account:\nNew message:\n {{ token }} ')">Email message</button>

        {% endif %}

        <div class="wrapper">
          {% if error %}
          <p class="error"><strong>Info: </strong> {{ error }}</p>
          {% endif %}
          {% for field, errors in form.errors.items() %}
          <div>
            <p class="error"><strong>Info: </strong> {{ ', '.join(errors) }}</p>
          </div>
          {% endfor %}
        </div>
        <div class="wrapper">
          <a class="first after" href="/login">Return</a>
        </div>


      </div>

    </div>
  </div>
</body>

</html>