<html>

<head>
  <title>Notes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/welcom.css') }}">
</head>

<body>
  <div class="container">
    <div class="left">
      <div class="logs">
        {% if logs|length > 0 %}
        <h3>Login attempts for your account:</h3>
          {% for log in logs %}
            > From host [<strong>{{ log.0 }}</strong>] - <strong>{{ log.2 }} </strong> attemps (last {{ log.1 }})
          {% endfor %}
        {% endif %}
      </div>

    </div>

    <div class="right">
      {% if logout_form %}
      <form action={{ url_for('logout') }} method="POST">
        {{ logout_form.csrf_token }}
        {{ logout_form.logout }}
      </form>
      {% endif %}
    </div>

    <div class="center">
      <div class="wrapper">
        <h1>Notes</h1>
        <h2>Welcom <strong>{{ username }}!</strong></h2>
      </div>
      <div>
        <label for="markdown">Input some markdown:</label><br>
      </div>
      <div class="wrapper">
        <form action={{ url_for('render') }} method="POST">

          {{ form.csrf_token }}
          <div id="space">
            {% if draft %}
              <textarea id="markdown" name="markdown">{{ draft }}</textarea>
              {% else %}
            <textarea id="markdown" name="markdown" placeholder="Note something new..."></textarea>
              {% endif %}  
          </div>
          <div class="right">
            {{ form.submit }}
          </div>
        </form>
      </div>


      {% if notes|length > 0 %}
      <div class="left title">
        <h2> Your notes: </h2>
      </div>
      <div class="wrapper">
        <table>
          <thead>
            <tr>
              <th>Author</th>
              <th>Note</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
            <tr>
              <td>{{note.0}}</td>
              <td>
                <div class="note">
                  <div class="first">
                    {% if note.3 == 1 %}
                    <img src="static/icons/encrypted.png">
                    {% endif %}
                    {% if note.4 == 1 %}
                    <img src="static/icons/public.png">
                    {% endif %}
                    {% if note.4 == 0 %}
                    {% if note.3 == 0 %}
                    <img src="static/icons/private.png">
                    {% endif %}
                    {% endif %}
                  </div>
                  <div class="second">
                    <a class="single_note" href="{{ url_for('show', rendered_id=note.1) }}"> Note</a>
                  </div>
                </div>
              </td>
              <td>{{note.2}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}

      {% if public_notes|length > 0 %}
      <div class="left title">
        <h2> Public notes: </h2>
      </div>
      <div class="wrapper">
        <table>
          <thead>
            <tr>
              <th>Author</th>
              <th>Note</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for note in public_notes %}
            <tr>
              <td>{{note.0}}</td>
              <td>
                <div class="nav">
                  <div class="first">
                    {% if note.3 == 1 %}
                    <img src="static/icons/public.png">
                    {% endif %}
                  </div>
                  <div class="second">
                    <a class="single_note" href="{{ url_for('show', rendered_id=note.1) }}"> Note</a>
                  </div>
                </div>
              </td>
              <td>{{note.2}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}

    </div>
  </div>
</body>

</html>