<html>

<head>
  <title>Notes</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/welcom.css') }}">
</head>

<body>
  <div class="container">
    <div class="right">
      <form action={{ url_for('logout') }}>
        <input id="logout" type="submit" value="Log out" />
      </form>
    </div>

    <div class="center">
      <div class="wrapper">
        <h1>Notes</h1>
        <h2>Welcom <strong>{{ username }}!</strong></h2>
      </div>

      <div class="wrapper">

        <form action={{ url_for('render') }} method="POST">

          {{ form.csrf_token }}
          <label for="markdown">Input some markdown:</label><br>
          <div id="space">
            {{ form.markdown }}
          </div>
          <div style="text-align:right">
            {{ form.submit }}
          </div>
        </form>
      </div>


      {% if notes|length > 0 %}
      <div class="left" style="margin-left: 15%;">
        <h2> Your notes: </h2>
      </div>
      <div class="wrapper">
        <table>
          <thead>
            <tr>
              <th>Author</th>
              <th>Note</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}

            <tr>
              <td>{{note.0}}</td>
              <td>
                <div id="note">
                  <div id="first">
                    {% if note.3 == 1 %}
                    <img src="static/icons/encrypted.png">
                    {% endif %}
                    {% if note.4 == 1 %}
                    <img src="static/icons/public.png">
                    {% endif %}
                  </div>
                  <div id="second">
                    
                    <a class="single_note" href="{{ url_for('render') }}/{{note.1}}"> Note</a>
                  </div>
                </div>
              </td>
              <td>{{note.2}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}

    </div>
  </div>
</body>

</html>